body{margin: 0;
    width: 100%;

}
.background {
    background-image: url(/Carvilla_media/welcome-banner.jpg);
    background-size: cover;
    height: 100vh;/*the height ensures that the background covers the full lenght*/
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    background-color: blue;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: white;
    }
.h1{
    font-family: 'rufina', serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 50px;
    padding-left: 150px;
}
.banner{
    margin-top: 200px;
    text-align: center;
}
#car{
    text-transform: capitalize;
    font-size: 40px;
    font-weight: bolder;
}
#car1{
    font-weight: bold;
    line-height: 1.6;
    font-size: 20px;
}
.contact_button {background-color: rgb(70, 70, 239);
    color: white;
    cursor: pointer;
    padding: 20px 75px;
    margin-top: 25px;
    border-radius: 5px;
    border-color:  rgb(120, 120, 242);
    font-size: medium;
    font-weight: bolder;
}
.contact_button:hover {
    background-color: blue;
}
.clear{
    clear: both;
}
body{margin: 0;

}
.background {
    background-image: url(/Carvilla_media/welcome-banner.jpg);
    background-size: cover;
    height: 100vh;/*the height ensures that the background covers the full lenght*/
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    background-color: rgb(125, 125, 238);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: white;
    }
.h1{
    font-family: 'rufina', serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 50px;
    padding-left: 150px;
}
.banner{
    margin-top: 200px;
    text-align: center;
}
#car{
    text-transform: capitalize;
    font-size: 40px;
    font-weight: bolder;
}
#car1{
    font-weight: bold;
    line-height: 1.6;
    font-size: 20px;
}
.contact_button {background-color: rgb(70, 70, 239);
    color: white;
    cursor: pointer;
    padding: 20px 75px;
    margin-top: 25px;
    border-radius: 5px;
    border-color:  rgb(120, 120, 242);
    font-size: medium;
    font-weight: bolder;
}
.contact_button:hover {
    background-color: blue;
}

span{
    display: block;
}

#form_container{
    margin: auto;
    width: 350px;
    height: 500px;
    border: 3px solid;
    padding: 10px;
    position: absolute;
    display: flex;
    background-color: white;
}
